on:
  pull_request:
  push:
    branches:
      - master

name: CI

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2022-04-18
          override: true
          components: rustfmt, clippy

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-hack

      - uses: actions-rs/cargo@v1
        with:
          command: hack
          args: check --workspace --ignore-private --each-feature --no-dev-deps

      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --all-targets --all-features

      - uses: actions-rs/cargo@v1
        with:
          command: test

      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets -- -D warnings

      - uses: actions/checkout@v2
        with:
          repository: ethereum/tests
          submodules: recursive
          path: ethereum-tests
          ref: 'v10.2'

      - run: |
          env RUST_LOG=error cargo run --release --bin consensus-tests -- --tests="./ethereum-tests"
